/* Styles généraux */
body {
    font-family: 'Arial', sans-serif;
}

/* Styles pour la navbar */
.navbar-brand {
    font-weight: bold;
    color: #4a4a4a;
}

/* Styles pour les cartes */
.card {
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

/* Styles pour les boutons */
.btn-primary {
    background-color: #3498db;
    border-color: #3498db;
}

.btn-primary:hover {
    background-color: #2980b9;
    border-color: #2980b9;
}

.btn-success {
    background-color: #2ecc71;
    border-color: #2ecc71;
}

.btn-success:hover {
    background-color: #27ae60;
    border-color: #27ae60;
}

/* Styles pour le jumbotron */
.jumbotron {
    background-color: #ecf0f1;
}

/* Styles pour le footer */
.footer {
    background-color: #34495e;
    color: #ecf0f1;
}
